* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.container {
   width: 90%;
   height: 90vh;
   position: relative;
}
.navbar {
   width: 100%;
   height: 100%;
   background: #242424;
   position: absolute;
   transform: perspective(1000px) rotateY(-180deg);
   backface-visibility: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   transition: transform .4s;
}
.navbar a {
   margin: 0.4em;
   padding: 0.2em 0.4em;
   text-decoration: none;
   font-size: 1.5em;
   color: white;
   position: relative;
   cursor: pointer;
}
.navbar a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: pink;
   z-index: -1;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform .4s;
}
.navbar a:hover::before {
   transform: scaleX(0.5);
}
.main {
   width: 100%;
   height: 100%;
   background: #454545;
   position: absolute;
   transform: perspective(1000px) rotateY(0deg);
   backface-visibility: hidden;
   position: relative;
   transition: transform 0.4s;
}
.active_navbar {
   transform: rotateY(0deg);
}
.active_main {
   transform: rotateY(180deg);
}
.btn {
   top: 50%;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(-20px,-50%);
   background: #2b2b2b;
   padding: 0.5em;
   border-radius: 10px;
   color: white;
   z-index: 20;
   border: none;
   cursor: pointer;
}
.main div {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow-x: auto;
}
section {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 5em;
   color: white;
}
section:nth-child(1) {
   background: #e93b81;
}
section:nth-child(2) {
   background: #511281;
}
section:nth-child(3) {
   background: #fb3640;
}
section:nth-child(4) {
   background: #19b5c0;
}