* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #001001;
}
.box {
   width: 50px;
   height: 5px;
   background: linear-gradient(to right, #8e2de2, #4a00e0);
   border-radius: 10px;
   animation: anim 4s infinite;
   position: relative;
}
.box::before {
   content: "";
   position: absolute;
   top: 50px;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background: linear-gradient(to right, #8e2de2, #4a00e0);
   animation: anim2 2s infinite;
}
.box::after {
   content: "";
   position: absolute;
   right: 0;
   bottom: 50px;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background: linear-gradient(to right, #8e2de2, #4a00e0);
   animation: anim3 2s infinite;
}
@keyframes anim {
   0%,100% {
      transform: rotate(0deg);
   }
   50% {
      transform: rotate(360deg);
   }
}
@keyframes anim2 {
   0%,100% {
      transform: translateY();
   }
   50% {
      transform: translateY(-45px) translateX(20px);
      width: 10px;
      height: 10px;
   }
}
@keyframes anim3 {
   0%,100% {
      transform: translateY();
   }
   50% {
      transform: translateY(45px) translateX(-20px);
      width: 10px;
      height: 10px;
   }
}