*{
    margin: 0;
    padding: 0;
}
.profile-cards{
    margin-top: 100px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pcard{
    width: 350px;
    height: 400px;
    margin-top: 25px;
    position: relative;
    box-shadow: 2px 2px 10px rgb(85, 85, 85);
    overflow: hidden;
    transition: all 0.5s;
}
.pcard-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pcard-content img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.pcard-content h2{
    margin: 10px 0px;
    font-size: 25px;
    font-size: 700;
}
.pcard-content p{
    margin: 10px 40px;
    font-size: 15px;
}
.icons{
    width: 100%;
    height: 100%;
    background: rgb(255, 62, 62);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transform: translateX(-95%);
    transition: all 0.4s;
    cursor: pointer;
}
.icons i{
    margin: 10px 0px;
}
.pcard:hover{
    border-radius: 20px;
}
.pcard:hover > .icons{
    transform: translateX(0);
}
body{
    background-color:#1d3548;
    padding: 0;
    margin: 0;
}
.card{
    height: 450px;
    width: 350px;
    background: linear-gradient(#04508f ,#2196f3 30%, #335e83 30%, #1d3548);
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.75);
}
.info{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
}
.name{
    font-size: 28px;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    top:190px;
}
.prof{
    color: #03a9f4;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    position: absolute;
    top:235px;
}
.divider{
    height: 1.5px;
    width: 170px;
    background-color: #949594;
    position: absolute;
    top:280px;
}
.bio{
    color: #949594;
    font-family: 'Work Sans', sans-serif;
    font-size:18px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    bottom:75px;
}


.icons{
    position: absolute;
    display: flex;
    bottom: 17px;
    left: 40px;
}

.icons li{
    list-style: none;
    padding-right: 28px;
}


.icons li a{
    width: 40px;
    height: 40px;
    color:#fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#1d3548;
    border-radius: 50%;
    text-decoration: none;
    transition: 1s;

}

.icons li a:hover{
    transform: rotate(360deg);
    
}

.photo{
    height: 100%;
    width: 100%;
    background: url(../Images/profile1.jpg);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    transition: 1s;
}
.card:hover .photo{
    top:65px;
    transform: scale(0.40,0.30) translateY(-660px) translateX(-48px);
    background-size: 100% 150%;
    background-position: -5px -25px;
    border-radius: 50%;
    border: 15px solid #1d3548;
}