* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
section {
   width: 100%;
   height: 100vh;
   background: radial-gradient(rgb(0,102,255),#000);
}
.isometric {
   position: relative;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   background: url(https://images.unsplash.com/photo-1600859343572-566b5ee12973?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
   background-size: cover;
   transform: translate(-50%,-50%)
              rotateX(45deg) rotateZ(-45deg);
   transform-style: preserve-3d;
   transition: 2s;
   box-shadow: -50px 50px 80px rgba(0, 0, 0, 0)
               -80px 80px 250px rgb(0, 140, 255);
   animation: animate 2s linear infinite;
}
.isometric:hover {
   transform: translate(-50%,-50%)
              rotateX(0deg) rotateZ(0deg);
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.isometric:before {
   content: '';
   width: 100%;
   height: 30px;
   position: absolute;
   bottom: -30px;
   left: 0;
   background: linear-gradient(#1b1b2b,rgb(0,102,255));
   transform-origin: top;
   transform: skewX(-45deg) scaleY(1);
   transition: .2s;
}
.isometric:hover::before {
   transform: skewX(-45deg) scaleY(0);
}
.isometric::after {
   content: '';
   width: 30px;
   height: 100%;
   position: absolute;
   top: 30px;
   left: -30px;
   background: linear-gradient(to left,#1b1b2b,rgb(0,102,255));
   transform-origin: left;
   transform: skewY(-45deg) scaleX(1);
   transition: .2s;
}
.isometric:hover::after {
   top: 0;
   left: 0;
   transform: skewY(-45deg) scaleX(0);
}
@keyframes animate {
   0% {
      box-shadow: -50px 50px 80px rgba(0, 0, 0, 0.8)
                  -80px 80px 250px rgb(0,102,255);
   }
   20% {
      box-shadow: -50px 50px 80px rgba(0, 0, 0, 0.8)
                  -80px 80px 150px rgb(0,102,255);
   }
   40% {
      box-shadow: -50px 50px 80px rgba(0, 0, 0, 0.8)
                  -80px 80px 200px rgb(0,102,255);
   }
   60% {
      box-shadow: -50px 50px 80px rgba(0, 0, 0, 0.8)
                  -80px 80px 120px rgb(0,102,255);
   }
   80% {
      box-shadow: -50px 50px 80px rgba(0, 0, 0, 0.8)
                  -80px 80px 190px rgb(0,102,255);
   }
   100% {
      box-shadow: -50px 50px 80px rgba(0, 0, 0, 0.8)
                  -80px 80px 250px rgb(0,102,255);
   }
}

