
* {
    box-sizing: border-box;
  }
  
  body {
  
    margin: 0;
    font-family: Arial;
  
    
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  .header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: rgb(69, 30, 15);
  }
  .header p {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: rgb(69, 30, 15);
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .container:hover .image {
    opacity: 0.5;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(25,25,25,70%);
    color: white;
    font-size: 16px;
    padding: 16px 32px; 
  }
  /* .image {
    height: 400px;
    object-fit: cover;
  } */
  a {
    text-decoration: none;
    color: rgb(169, 76, 39);
  }
  a:hover {
    font-weight: bold;
  }
  
  #gift img {
    height: 60px;
    width: 50px;
  }
  #gift img:hover {
    height: 70px;
    width: 60px;
  }