* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   background: linear-gradient(to right,#3c1053,#ad5389);
}
.menu {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.menu a {
   color: rgb(233, 233, 233);
   text-decoration: none;
   font-size: 1.5em;
   margin: 20px;
   padding: 15px 30px;
   background: rgba(255, 255, 255, 0.055);
   position: relative;
   transition: all 0.4s;
}
.menu a:hover {
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.24);
}
.menu a::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0%;
   background: #845ec2;
   z-index: -1;
   transition: all 0.4s;
}
.menu a:hover::before {
   height: 50%;
}