/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-div{
    width: 430px;
    height: 650px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #fff;
}
.logo{
    background: url("Logo new.jpg");
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
                0px 0px 0px 5px #ecf0f3,
                8px 8px 15px #a7aaaf,
                -8px -8px 15px #fff;
}
.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}
.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}
.fields{
    width: 100%;
    padding: 75px 5px 5px 5px;
}
.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.username, .password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
}
.username i, .password i{
    color: #a7aaaf;
    padding-left: 25px;
    padding-right: 12px;
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #fff;
    transition: 0.5s;
}
.signin-button:hover{
    background: #2fdbb6;
}
.signin-button:active{
    background: #1da88a;
}
.link{
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}