*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d7385e;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 150px;
    height: 80px;
    border: 6px solid white;
    position: relative;
}
.box::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translate(0,-50%);
    width: 10px;
    height: 25px;
    background-color: rgb(255, 255, 255);
}
.box::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 97%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    animation: anime 2s linear infinite;
}
@keyframes anime {
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 97%;
    }
}