/* 1 */
*{ box-sizing:border-box; margin:0; padding:0; color:white; font-size:15px; font-family:Georgia, "Times New Roman", Times, serif }
html,body{ width:100%; height:100%; background-color:#333;}
#inputDiv{ 
	width:820px; 
	margin: 150px auto; 
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
    -webkit-flex-direction : column;
    -ms-flex-direction : column;
    flex-direction : column;
	}
#inputDiv form{
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
  -webkit-flex-direction : row;
  -ms-flex-direction : row;
  flex-direction : row;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	}

h1{ font-size:200%; padding-left:270px; position:relative; bottom:50px; width:100%;}
#radioBM{
	width:140px;
	height:379px; 
	margin-right:30px;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
    -webkit-flex-direction : column;
    -ms-flex-direction : column;
    flex-direction : column;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	}
#radioBM input[type='radio']{ margin-right:10px;  font-size: 16px;}
#radioBM input[type='text']{ padding:3px;color:#333; margin-right:10px; font-size:80%;}

input[type='range']{ display:block; width:640px; height:379px;}
input[type='range']:focus {
  outline: none;
}
	
/* 2 */
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; 
}
input[type='range'], input[type='range']::-moz-range-thumb, input[type='range']::-moz-range-thumb {
  -moz-appearance: none; position:relative;
}

/* 2.1 THUMB */
input[type=range]::-webkit-slider-thumb{ height:100%; width:10px; background-color:transparent; cursor: col-resize;}
input[type=range]::-moz-range-thumb{height:100%; width:10px; background-color:transparent;  cursor: col-resize; border:none;}
input[type=range]::-ms-thumb{height:100%; width:10px; background-color:transparent;  cursor: col-resize;}


/* 2.2 TRACK */


input[type=range]::-webkit-slider-runnable-track{
	background: -webkit-linear-gradient(0deg, transparent 65%, #abcdef 65%),
	            0% 0% no-repeat  border-box url(http://c1.staticflickr.com/5/4049/4545882390_a5c0128dda_z.jpg);
	background-blend-mode: difference ;
    height:379px;}
input[type=range]:focus::-webkit-slider-runnable-track{outline: none;}

input[type=range]::-moz-range-track{
	background: -moz-linear-gradient(0deg, transparent 65%, #abcdef 65%),
	            0% 0% no-repeat  border-box url(http://c1.staticflickr.com/5/4049/4545882390_a5c0128dda_z.jpg);
	background-blend-mode: difference ;
    height:379px;}

input[type=range]::-ms-track{
	background: url(http://c1.staticflickr.com/5/4049/4545882390_a5c0128dda_z.jpg) no-repeat 0% 0%; 
	height:379px;}
	
input[type=range]::-ms-fill-lower{background-image:url(http://c1.staticflickr.com/5/4049/4545882390_a5c0128dda_z.jpg);} 
input[type=range]::-ms-fill-upper{background-color:red;} 
