*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.btn{
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transition: all 0.5s;
}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: #000;
}