*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.nav ol{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.nav ol li{
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.nav ol li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00ffff;
    transform: translateX(-100%);
    transition: all 0.4s;
}
.nav ol li:hover::before{
    transform: translateX(0%);
}
.nav ol li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    transition: all 0.4s;
}
.nav ol li:hover a{
    color: #00ffff;
    text-shadow: -1px -1px 10px #00ffff,
                  1px 1px 10px #00ffff;
    
}