*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main a{
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 50%;
    margin: 0 20px;
    position: relative;
}
.main a i{
    background: #fff;
    line-height: 50px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.4s;
}
.main a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-right-color: #fff;
    border-radius: 15px;
    z-index: -1;
    transform: scale(1.1);
    transition: all 0.4s;
}
.main a:hover i{
    background: rgb(0, 0, 255);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.main a:hover::before{
    background-color: blue;
}