*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(45deg,#1affff ,#4f58ff);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;
}
.box{
    width: 300px;
    height: 400px;
    background: #fff;
    color: #000;
    margin: 0 20px;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}
.box div{
    margin: 5px 0;
}
.box div input{
    width: 220px;
    height: 25px;
    margin: 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}
.box button{
    width: 220px;
    height: 30px;
    margin-top: 5px;
    background: none;
    border: none;
    outline: none;
    background: #4f58ff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}
.box h1{
    margin: 60px 0 20px 0;
}
.box .icon{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: 0 0 50% 50%;
    background: #4f58ff;
    box-shadow: 0px 0px 20px rgb(144, 144, 144);
    align-items: flex-end;
}
.box .icon i{
    color: #fff;
    margin-bottom: 10px;
}