*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}
section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s linear;
}
.loader{
    width: 106px;
    height: 56px;
    background-image: linear-gradient(#d6ff0e 50px, transparent 0),
                      linear-gradient(#d6ff0e 50px, transparent 0),
                      linear-gradient(#d6ff0e 50px, transparent 0),
                      linear-gradient(#d6ff0e 50px, transparent 0),
                      radial-gradient(circle 14px, #d6ff0e 100%, transparent 0);
    background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 15px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(-45deg);
}
.loader::before,
.loader::after{
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border: 6px solid #d6ff0e;
    border-radius: 50%;
    left: -45px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#d6ff0e 64px, transparent 0),
                      linear-gradient(#d6ff0e 66px, transparent 0),
                      radial-gradient(circle 4px, #d6ff0e 100%, transparent);
    background-size: 40px 1px, 1px 40px, 8px 8px;
    background-position: center center;
    animation: rotation 0.3s linear infinite;
}
.loader::before{
    left: 25px;
    top: 60px;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}