body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 375px;
    background: #000;
    overflow: hidden;
}

.figure{
    width: 100%;
    height: 100%;
}

.figure img{
    width: 100%;
    transition: 0.5s;
}

.box:hover .figure img{
    transform: rotate(-10deg) scale(1.3);
    opacity: 0.5;
}

.caption::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0,1);
}

.box:hover .caption::before{
    transform: scale(1,1);
}

.caption::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(1,0);
}

.box:hover .caption::after{
    transform: scale(1,1);
}

.caption{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.about{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px;
    transition: 0.5s;
    opacity: 0;
    text-align: center;
}

.box:hover .about{
    opacity: 1;
}

.about h2{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.about p{
    color: #fff;
    margin: 20px 0 0;
    padding: 0;
    font-size: 15px;
}