*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  header{
    background-color: rgb(88, 70, 47);
    
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
  }
  
  header .brand{
    color:rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: rgb(11, 48, 4);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }
  
  /* Header css */



/* common css */

body {
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.page {
	margin: auto;
	margin-top: 10vh;
	padding: 5vw;
	width: 60vw;
	height: 100%;
	background-color: white;
}

.content {
	z-index: 1;
}

.sub-head{
text-align: left;
}
.imgs {
	width: 50vw;
    height:23vw;
    border-radius: 14px;
    margin-bottom: 2rem;
    margin-top: 2rem;
	object-fit: cover;
}

.imgwrap {
	margin-top: 3vh;
	text-align: center;
}

h1 {
	margin-top: 10vh;
	margin-bottom: 2vh;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 4vh;
}

#title {
	text-align: left;
	font-size: 8vh;
	margin-top:2vh;
}

p {
	font-family: "Poppins", sans-serif;
	font-size: 2.5vh;
}



  /* #image {
    text-align: center;
    height: 1000px;
    background-size: cover;
    color:aliceblue;
    margin-top: -100px;
} */
.tsk{
  position: relative;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 6vh;
}
.campaign1{
    height: 700px;
    object-fit:cover;
    width: 100%;
    margin-top: 4.8rem;
}
.content h1{
    text-align:center;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 5vh;
    font-family: "Poppins", sans-serif;
}
.content p{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 3vh;
    font-family: "Poppins", sans-serif;
}

.text1{
  position: absolute;
  top: 26%;
  right:2%;
  left: 70%;
  color: rgba(1, 1, 1);
  /* left: 10%; */
  /* transform: translate(-50%,-50%); */
}


.text1 h3{
  font-size: 7vh;
  line-height: 1.2;
}


.text1 p{
  padding: 36px;
  font-size: 3vh;
  letter-spacing: 0.5px;
  color: burlywood;
}

.wrapper h1{
  font-size: 5vh;
  margin-bottom: 60px;
  text-align: center;
  margin-top: 7vh;
}


.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  padding: 5vh;
  

}

.team .team_member{
  background-color: burlywood;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #f3f3f3;  
  position: relative;
  
  
}

.team .team_member h3{
  color: rgb(88, 70, 47);
  font-size: 26px;
  margin-top: 50px;
}



.team .team_member p.role{
  color: white;
  margin: 12px 0;
  font-size: 10px;
  text-transform: uppercase;
  
}


.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
 
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 100%;
}

#teamhead{
  font-size: 5vh;
  font-family: "Poppins", sans-serif;
}




.campaign2-phone{
  display: none;
}



@media screen and (max-width: 1040px) {
	h1{
        text-align: center;
        font-size: 2em;
        margin-bottom:2vh;
    }

    .tsk{
      width: 100vw;
      overflow: hidden;
    }

    .page{
        width: 82%;
        padding: 2em;
    }
    

    .imgs {
      width: 66vw;
        height:30vw;
        border-radius: 14px;
        margin-bottom: -1rem;
        /* margin-top: -1rem; */
        object-fit: cover;
    }

    p{
        margin-top: 4vh;
        font-size: 1em;
        margin-bottom:8vh;
        color:white;
    }

    
    header{
      padding: 12px 20px;
    }
  
    section{
      padding: 100px 20px;
    }
  
  
    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
    }
  
    header .navigation .navigation-items a{
      color: #222;
      font-size: 1.2em;
      margin: 20px;
    }
  
    header .navigation .navigation-items a:before{
      background: #222;
      height: 5px;
    }
  
    header .navigation.active .navigation-items{
      background: #fff;
      width: 600px;
      max-width: 600px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    .menu-btn{
      background: url(videos/icons8-menu-50.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
    }
  
    .menu.active{
      z-index: 999;
      background: url(videos/icons8-menu-50.png)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
    }
  

    
  }




@media (max-width: 1200px){
    
    
    .campaign1{
      display: none;
  }
  .campaign2-phone{
    display:block ;
    width: 100%;
    margin-top: 4.2rem;
  }
  
  .content h1{
    
      text-align:center;
      margin-left: 3vw;
      margin-right: 3vw;
      font-size: 4vh;
      font-family: "Poppins", sans-serif;
  }
  .content p{
      text-align: center;
      margin-left: 3vw;
      margin-right: 3vw;
      font-size: 5vw;
      font-weight: 450;
      color: #222;
      font-family: "Poppins", sans-serif;
  }
  

 
  .team .team_member p.role {
    font-size:2vh;
  }
  




  .text1{
    position: absolute;
    top: 25%;
    right:2%;
    left: 45%;
    color: rgba(14, 105, 54, 0.776)
    /* left: 10%; */
    /* transform: translate(-50%,-50%); */
  }
  .text1 h3{
    font-size: 3vh;
    line-height: 1.2;
  }
  .text1 p{
    display: none;
    padding: 36px;
    font-size:  2vh;
    
  }
  
  h1{
   margin-top: 3vh;
  }
  #teamhead{
    font-size: 4vh;
    font-family: "Poppins", sans-serif;
  }
  


  }