@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* header css */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
 
}



header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}



/* slider css */
section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.home .content h1 span{
  font-size: 1em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.home .content p{
  margin-bottom: 65px;
  font-size:20px;
  
  font-family: "Poppins", sans-serif;
}

.home .content a{
  background: #fff;
  padding: 15px 35px;
  color:#222;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .content a:hover{
 color:#1680AC;
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle( 0%);
}

.video-slide.active{
  clip-path: circle(100% );
  transition: 1s ease linear;
  
}

.video-text-phone{
  display: none;
  font-size:1.2rem ;
  text-align: left;
  
}   

/* quote css */
.section-header__heading{

  color:#253d86;
  
  padding-left: 12rem;
  padding-right:12rem;
  margin-top:6rem;
}
h2{
  
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    
}
/* quote css */



.issues{
  
  color:#253d86;
  
  padding-left: 12rem;
  padding-right:12rem;
  margin-top:6rem;
}

h3{
  font-size: 3em;
    font-weight:bold;
    text-align: center;
  

}

h4{
  margin-top: 0.8rem;
  font-size:1.65em;
  color:black;
  font-weight: 500;
  text-align: center;
}


/* box */

.container{
  margin-left:16rem;
 
  margin-top:2rem;
  width:1000px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.box{

  position: relative;
  width:250px;
  height: 400px;

 
  
  
}
 .imgBx1{
object-fit: cover;
  position:absolute;
  border-radius:2rem;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:0.5s;
  padding:16px;

}
.box:hover .imgBx img{
  opacity: 0;
}

.box .content{
  position: absolute;
  bottom:16px;
 left:13px;
  
  width:90%;
  height:60px;
  background: rgb(224, 219, 219);

  transition:0.5s;
  overflow:hidden;
  text-align:center;
  padding:8px;
  box-sizing: border-box;
  border-radius: 18.5px;


}
.box:hover .content{
  width:100%;
  height:100%;
  bottom:0;
  left:0;
}
.box .content h6{
  margin:0;
  padding-top:6px;
  font-size:20px;

  font-size:18px;
color:#253d86;
}
.content a{
  text-decoration: none;
}


.box .content p{
  margin:10px 0 0;
  padding:0;
  font-size:15px;
  color:#253d86;;
  opacity: 0;
  font-weight: bold;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: left;

}
.box:hover .content p{
  opacity:1;
  transition-delay: 0.5s;
}

.line2{
  margin-top:6rem;
  margin-right: 5vh;
  margin-left: 5vh;
  border:0.09px solid rgb(178, 175, 175);

}

/* ngo css */
.ngoo{
  margin-top: 0.1rem;
  font-size:1.65em;
  color:black;
  font-weight: 500;
  text-align: center;
  padding-left: 12rem;
  padding-right:12rem;
  

}



.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height:100%;
}


.button1{
  margin-top: -4.5rem;
  position: relative;
  width: 200px;
  height: 60px;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  color: #1680AC;
  font-size: 1.1em;
    font-weight: 500;
    margin-left:5rem;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.button1::before {
  display: flex;
  justify-content: center;
text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'HARITIKA ASSOCIATION';
  transition: all .3s;
}
.button1::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'READ MORE';
  transition: all .3s;
}
.button1:hover::before {
  top: -60px;
}
.button1:hover::after {
  top: 0;
}





.button5{
  margin-top: -4.5rem;
  position: relative;
  width: 220px;
  height: 60px;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  color: #1680AC;
  font-size: 1.1em;
    font-weight: 500;
    margin-left:5rem;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.button5::before {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'CHINTAN ENVIRONMENTAL ';
  transition: all .3s;
}
.button5::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'READ MORE';
  transition: all .3s;
}
.button5:hover::before {
  top: -60px;
}
.button5:hover::after {
  top: 0;
}





.button4{
  margin-top: -4.5rem;
  position: relative;
  width: 200px;
  height: 60px;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  color: #1680AC;
  font-size: 1.1em;
    font-weight: 500;
    margin-left:5rem;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.button4::before {
  display: flex;
  justify-content: center;
 text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'SANKALPTARU FOUNDATION';
  transition: all .3s;
}
.button4::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'READ MORE';
  transition: all .3s;
}
.button4:hover::before {
  top: -60px;
}
.button4:hover::after {
  top: 0;
}



.button3{
  margin-top: -4.5rem;
  position: relative;
  width: 200px;
  height: 60px;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  color: #1680AC;
  font-size: 1.1em;
    font-weight: 500;
    margin-left:5rem;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.button3::before {
  display: flex;
  justify-content: center;
 text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'MUKTI ASSOCIATION';
  transition: all .3s;
}
.button3::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'READ MORE';
  transition: all .3s;
}
.button3:hover::before {
  top: -60px;
}
.button3:hover::after {
  top: 0;
}



.button2{
  margin-top: -4.5rem;
  position: relative;
  width: 200px;
  height: 60px;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  color: #1680AC;
  font-size: 1.1em;
    font-weight: 500;
    margin-left:5rem;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.button2::before {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'JANMITRAM KALYAN';
  transition: all .3s;
}
.button2::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'READ MORE';
  transition: all .3s;
}
.button2:hover::before {
  top: -60px;
}
.button2:hover::after {
  top: 0;
}


.line3{
  margin-top:6rem;
  margin-right: 5vh;
  margin-left: 5vh;
  border:0.09px solid rgb(217, 214, 214);
}


/* campaign css */
.campaign{
  margin-top: 0.4rem;
  padding-right:12rem;
  padding-left:12rem;
  
  font-size:1.9em;
  color:black;

  font-weight: 500;
  text-align: center;

}

/* email form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

input[type=submit] {
  background-color: #253d86;
  color: white;
  margin-bottom:-3rem;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8f939f;
}

.contain {
  border-radius: 24px;
  background-color: #e1dede;
  padding: 32px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

/* footer */
.footer{
  padding:40px 0;
  margin-top:6rem;
  background-color: rgb(226, 217, 217);

}
.footer .social{
  text-align: center;
  padding-bottom:25px;
  color:#0a0a0a;

}
.footer .social a{
  font-size:24px;
  color:inherit;
  border:1px solid rgb(8, 8, 8);
  width:40px;
  height:40px;
  line-height:38px;
  display:inline-block;
  text-align:center;
  border-radius: 50%;
  margin:0 8px;
  opacity: 0.75;

}
.footer .social a:hover{
  opacity:0.9;
}
.footer ul{
  margin-top:0;
  padding:0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a{
  color:black;
  
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li{
  display: inline-block;
  padding:0 15px;
  font-family: "Poppins", sans-serif;

}
.footer ul li a:hover{
  opacity: 1;
}



@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 80px 20px;
  }


  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(videos/icons8-menu-50.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(videos/icons8-menu-50.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

  
  
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 30px;
    line-height: 40px;
  }
  .home .content p{
    font-size:20px;
    text-align: left;

  }
  .video-text{
    display: none;

  }
  .video-text-phone{
    display: block;
    

  }
  .video-text-phone p{
    text-align: left;
  }
  
  .section-header__heading{

    color:#253d86;
    font-size: 3.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-top:6rem;
  }

  .issues{

    color:#253d86;
    font-size: 4.2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-top:3.5rem;
    margin-bottom: 4vh;
  }

  .container{
    margin-left: 0vh !important;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container .box{
    width: 85%;
  }

  .box .content{
    width: 91.9%;
  }
  .box .content h6{
    font-size:3vh;
  }
  .box .content p{
    margin-top:1em;
    font-size:16.8px;
  }
  .ngoo{
    
    font-size:1.3em;
    color:black;
    font-weight: 500;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-top:0.1rem;
    
  
  }

  .campaign{
    font-size:1.3em;
    color:black;font-weight: 500;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-top:0.1rem;
  }
  
  .footer .social a{
    font-size:1.9rem;
    text-align: center;

}
.footer ul li a{
  font-size:1.3rem;
  text-align: center;
}
.contain{
  border-radius: 24px;
  background-color: #e1dede;
  padding: 32px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}


}