*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;
}
.icon{
    width: 65px;
    height: 65px;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s;
}
.fa-facebook-f{
    color: #1877f2;
    filter: drop-shadow(0px 0px 10px #1877f2);
}
.fa-instagram{
    color: #c32aa3;
    filter: drop-shadow(0px 0px 10px #c32aa3);
}
.fa-whatsapp{
    color: #25d366;
    filter: drop-shadow(0px 0px 10px #25d366);
}
.fa-twitter{
    color: #1da1f2;
    filter: drop-shadow(0px 0px 10px #1da1f2);
}
.fa-youtube{
    color: #bb0000;
    filter: drop-shadow(0px 0px 10px #bb0000);
}
.icon:nth-child(1):hover{
    box-shadow: 0px 0px 0px 10px #1877f2;
}
.icon:nth-child(2):hover{
    box-shadow: 0px 0px 0px 10px #c32aa3;
}
.icon:nth-child(3):hover{
    box-shadow: 0px 0px 0px 10px #25d366;
}
.icon:nth-child(4):hover{
    box-shadow: 0px 0px 0px 10px #1da1f2;
}
.icon:nth-child(5):hover{
    box-shadow: 0px 0px 0px 10px #bb0000;
}