
/* Header css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  header{
    background-color: rgba(14, 105, 54, 0.776);
    
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
  }
  
  header .brand{
    color:rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: rgb(11, 48, 4);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }
  
  /* Header css */





/* aquatic css */

body {
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.page {
	margin: auto;
	margin-top: 10vh;
	padding: 5vw;
	width: 60vw;
	height: 100%;
	background-color: white;
}

.content {
	z-index: 1;
}

.sub-head{
text-align: left;

}
.imgs {
	width: 50vw;
    height:23vw;
    border-radius: 14px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.imgwrap {
	margin-top: 10vh;
	text-align: center;
}

h1 {
	margin-top: 10vh;
	margin-bottom: 2vh;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 4vh;
}

#title {
	text-align: left;
	font-size: 8vh;
	margin-top:2vh;
}

p {
	font-family: "Poppins", sans-serif;
  color:black;
	font-size: 2.5vh;
}


/* aquatic css ends */

/* aquatic media queries  starts*/
@media screen and (max-width: 1040px) {
	h1{
        text-align: center;
        font-size: 2em !important;
        margin-bottom:2vh;
    }

    .page{
        width: 95%;
        padding: 2em;
    }
    

    .imgs {
      width: 75vw;
        height:56vw;
        border-radius: 14px;
        margin-bottom: -1rem;
        margin-top: -3rem;
        object-fit: cover;
    }

    p{
        margin-top: 4vh;
        font-size: 1em;
        margin-bottom:8vh;
        color:black;
        font-family: "Poppins", sans-serif;
        font-weight:470;
    }
}

/* aquatic media queries  ends*/


  
