/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.draw-border{
    box-shadow: inset 0 0 0 4px rgb(183, 183, 218);
    color: rgb(183, 183, 218);
    transition: color 0.25s;
    position: relative;
}
.draw-border::before,
.draw-border::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before{
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after{
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover{
    color: rgb(192, 226, 97);
}
.draw-border:hover::before,
.draw-border:hover::after{
    border-color: yellow;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before{
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after{
    transition-delay: 0s, 0.25s, 0s;
}
.btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    font: 700 1.2rem 'Roboto Slab', serif;
}