* {
   margin: 0;
   padding: 0;
}
body {
   background-color: black;
   color: aliceblue;
}
.main {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
}
#text {
   font-size: 2rem;
}
.line {
   animation: anim 1s infinite linear;
}
@keyframes anim {
   0%,100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}