.page_404 {
   padding: 40px 0;
   background: #fff;
   font-family: serif;
}
.page_404 img {
   width: 100%;
}
.four_zero_four_bg h1 {
   background-image: url(https://cdn.dribbble.com/users/605899/screenshots/4144886/media/47ae8417ee638d039a4b7300439ea061.gif);
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   margin-top: 40px;
}
.four_zero_four_bg h1 {
   font-size: 80px;
}
.four_zero_four_bg h3 {
   font-size: 80px;
}
.link_404 {
   color: #fff !important;
   padding: 10px 20px;
   background: #39ac31;
   margin: 20px 0;
   display: inline-block;
   text-decoration: none;
}
.contant_box_404 {
   margin-top: 40px;
}