*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;
}
.box{
    width: 350px;
    height: 250px;
    margin: 10px;
    flex-direction: column;
    background: #fff;
    font-size: 1.2rem;
    border-radius: 15px;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
    cursor: pointer;
}
.box:hover{
    color: #fff;
}
.box::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 20px;
    width: 5px;
    height: 150px;
    border-radius: 50px;
    transition: all 0.4s;
    background: linear-gradient(147deg, #ffe538 0%, #ff2525 74%);
}
.box:nth-child(1)::before{
    background: linear-gradient(19deg, #21d4fd 0%, #8721ff 74%);
}
.box:hover::before{
    top: 0;
    left: 0;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}
.box p, h1{
    margin: 5px 50px;
    z-index: 100;
}