*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
}
ul{
    position: relative;
    display: flex;
}
ul li{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 25px;
    list-style: none;
}
ul li span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
ul li:hover span{
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px 1px lightblue;
}
ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}
ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: 0.8;
}
ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: 0.6;
}
ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: 0.4;
}
ul li:hover span:nth-child(1){
    transform: translate(0px,0px);
    opacity: 0.2;
}
ul li:nth-child(1):hover span{
    background: #00aced;
}
ul li:nth-child(2):hover span{
    background: #bc2a8d;
}
ul li:nth-child(3):hover span{
    background: #3b5998;
}
ul li:nth-child(4):hover span{
    background: #bb0000;
}
ul li:nth-child(5):hover span{
    background: #007bb6;
}